In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('standard_stat.csv',encoding='latin-1')
df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1,Matches
0,1,Max Aarons,eng ENG,DF,Norwich City,21,2000,34,32,2881,...,0.7,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07,Matches
1,2,Che Adams,sct SCO,FW,Southampton,25,1996,30,23,2039,...,7.1,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43,Matches
2,3,Rayan Aït Nouri,fr FRA,DF,Wolves,20,2001,23,20,1828,...,0.7,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10,Matches
3,4,Kristoffer Ajer,no NOR,DF,Brentford,23,1998,24,23,1995,...,0.8,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10,Matches
4,5,Nathan Aké,nl NED,DF,Manchester City,26,1995,14,10,923,...,1.1,1.1,0.5,1.6,0.11,0.05,0.16,0.11,0.16,Matches

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 33 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rk         546 non-null    int64
 1   Player     546 non-null    object
 2   Nation     546 non-null    object
 3   Pos        546 non-null    object
 4   Squad      546 non-null    object
 5   Age        546 non-null    int64
 6   Born       546 non-null    int64
 7   MP         546 non-null    int64
 8   Starts     546 non-null    int64
 9   Min        546 non-null    int64
 10  90s        546 non-null    float64
 11  Gls        546 non-null    int64
 12  Ast        546 non-null    int64
 13  G-PK       546 non-null    int64
 14  PK         546 non-null    int64
 15  PKatt      546 non-null    int64
 16  CrdY       546 non-null    int64
 17  CrdR       546 non-null    int64
 18  Gls.1      546 non-null    float64
 19  Ast.1      546 non-null    float64
 20  G+A        546 non-null    float64
 21  G-PK.1     546 non-null    float64
 22  G+A-PK     546 non-null    float64
 23  xG         546 non-null    float64
 24  npxG       546 non-null    float64
 25  xA         546 non-null    float64
 26  npxG+xA    546 non-null    float64
 27  xG.1       546 non-null    float64
 28  xA.1       546 non-null    float64
 29  xG+xA      546 non-null    float64
 30  npxG.1     546 non-null    float64
 31  npxG+xA.1  546 non-null    float64
 32  Matches    546 non-null    object
dtypes: float64(15), int64(13), object(5)
memory usage: 140.9+ KB

In [5]:
df.isnull().values.any()

False

In [7]:
df = pd.read_csv('PlayingTime.csv',encoding='latin-1')

In [8]:
df.head(1)

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Min,Mn/MP,...,onGA,+/-,+/-90,On-Off,onxG,onxGA,xG+/-,xG+/-90,On-Off.1,Matches
0,1,Max Aarons,eng ENG,DF,Norwich City,21.0,2000.0,34,2881.0,85.0,...,69.0,-51.0,-1.59,0.08,25.8,60.8,-35.0,-1.09,0.35,Matches

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 691 entries, 0 to 690
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rk        691 non-null    int64
 1   Player    691 non-null    object
 2   Nation    688 non-null    object
 3   Pos       691 non-null    object
 4   Squad     691 non-null    object
 5   Age       687 non-null    float64
 6   Born      687 non-null    float64
 7   MP        691 non-null    int64
 8   Min       546 non-null    float64
 9   Mn/MP     546 non-null    float64
 10  Min%      547 non-null    float64
 11  90s       547 non-null    float64
 12  Starts    691 non-null    int64
 13  Mn/Start  492 non-null    float64
 14  Compl     691 non-null    int64
 15  Subs      691 non-null    int64
 16  Mn/Sub    435 non-null    float64
 17  unSub     691 non-null    int64
 18  PPM       547 non-null    float64
 19  onG       547 non-null    float64
 20  onGA      547 non-null    float64
 21  +/-       547 non-null    float64
 22  +/-90     546 non-null    float64
 23  On-Off    544 non-null    float64
 24  onxG      546 non-null    float64
 25  onxGA     546 non-null    float64
 26  xG+/-     546 non-null    float64
 27  xG+/-90   546 non-null    float64
 28  On-Off.1  544 non-null    float64
 29  Matches   691 non-null    object
dtypes: float64(19), int64(6), object(5)
memory usage: 162.1+ KB

In [10]:
df.isnull().values.any()

True

In [11]:
df.isnull().any()

Rk          False
Player      False
Nation       True
Pos         False
Squad       False
Age          True
Born         True
MP          False
Min          True
Mn/MP        True
Min%         True
90s          True
Starts      False
Mn/Start     True
Compl       False
Subs        False
Mn/Sub       True
unSub       False
PPM          True
onG          True
onGA         True
+/-          True
+/-90        True
On-Off       True
onxG         True
onxGA        True
xG+/-        True
xG+/-90      True
On-Off.1     True
Matches     False
dtype: bool

In [12]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
686    False
687    False
688    False
689    False
690    False
Length: 691, dtype: bool

In [13]:
sum(df.duplicated())

0

In [15]:
df = pd.read_csv('DefenseAction.csv',encoding='latin-1')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 32 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rk         546 non-null    int64
 1   Player     546 non-null    object
 2   Nation     546 non-null    object
 3   Pos        546 non-null    object
 4   Squad      546 non-null    object
 5   Age        546 non-null    int64
 6   Born       546 non-null    int64
 7   90s        546 non-null    float64
 8   Tkl        546 non-null    int64
 9   TklW       546 non-null    int64
 10  Def 3rd    546 non-null    int64
 11  Mid 3rd    546 non-null    int64
 12  Att 3rd    546 non-null    int64
 13  Tkl.1      546 non-null    int64
 14  Att        546 non-null    int64
 15  Tkl%       483 non-null    float64
 16  Past       546 non-null    int64
 17  Press      546 non-null    int64
 18  Succ       546 non-null    int64
 19  %          521 non-null    float64
 20  Def 3rd.1  546 non-null    int64
 21  Mid 3rd.1  546 non-null    int64
 22  Att 3rd.1  546 non-null    int64
 23  Blocks     546 non-null    int64
 24  Sh         546 non-null    int64
 25  ShSv       546 non-null    int64
 26  Pass       546 non-null    int64
 27  Int        546 non-null    int64
 28  Tkl+Int    546 non-null    int64
 29  Clr        546 non-null    int64
 30  Err        546 non-null    int64
 31  Matches    546 non-null    object
dtypes: float64(3), int64(24), object(5)
memory usage: 136.6+ KB

In [16]:
df.isnull().values.any()

True

In [17]:
df.isnull().any()

Rk           False
Player       False
Nation       False
Pos          False
Squad        False
Age          False
Born         False
90s          False
Tkl          False
TklW         False
Def 3rd      False
Mid 3rd      False
Att 3rd      False
Tkl.1        False
Att          False
Tkl%          True
Past         False
Press        False
Succ         False
%             True
Def 3rd.1    False
Mid 3rd.1    False
Att 3rd.1    False
Blocks       False
Sh           False
ShSv         False
Pass         False
Int          False
Tkl+Int      False
Clr          False
Err          False
Matches      False
dtype: bool

In [18]:
df = pd.read_csv('PlayerPossesion.csv',encoding='latin-1')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 33 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       546 non-null    int64
 1   Player   546 non-null    object
 2   Nation   546 non-null    object
 3   Pos      546 non-null    object
 4   Squad    546 non-null    object
 5   Age      546 non-null    int64
 6   Born     546 non-null    int64
 7   90s      546 non-null    float64
 8   Touches  546 non-null    int64
 9   Def Pen  546 non-null    int64
 10  Def 3rd  546 non-null    int64
 11  Mid 3rd  546 non-null    int64
 12  Att 3rd  546 non-null    int64
 13  Att Pen  546 non-null    int64
 14  Live     546 non-null    int64
 15  Succ     546 non-null    int64
 16  Att      546 non-null    int64
 17  Succ%    465 non-null    float64
 18  #Pl      546 non-null    int64
 19  Megs     546 non-null    int64
 20  Carries  546 non-null    int64
 21  TotDist  546 non-null    int64
 22  PrgDist  546 non-null    int64
 23  Prog     546 non-null    int64
 24  03-Jan   546 non-null    int64
 25  CPA      546 non-null    int64
 26  Mis      546 non-null    int64
 27  Dis      546 non-null    int64
 28  Targ     546 non-null    int64
 29  Rec      546 non-null    int64
 30  Rec%     543 non-null    float64
 31  Prog.1   546 non-null    int64
 32  Matches  546 non-null    object
dtypes: float64(3), int64(25), object(5)
memory usage: 140.9+ KB

In [19]:
df.isnull().values.any()

True

In [20]:
df.isnull().any()

Rk         False
Player     False
Nation     False
Pos        False
Squad      False
Age        False
Born       False
90s        False
Touches    False
Def Pen    False
Def 3rd    False
Mid 3rd    False
Att 3rd    False
Att Pen    False
Live       False
Succ       False
Att        False
Succ%       True
#Pl        False
Megs       False
Carries    False
TotDist    False
PrgDist    False
Prog       False
03-Jan     False
CPA        False
Mis        False
Dis        False
Targ       False
Rec        False
Rec%        True
Prog.1     False
Matches    False
dtype: bool

In [21]:
df = pd.read_csv('PassingStat.csv',encoding='latin-1')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 31 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       546 non-null    int64
 1   Player   546 non-null    object
 2   Nation   546 non-null    object
 3   Pos      546 non-null    object
 4   Squad    546 non-null    object
 5   Age      546 non-null    int64
 6   Born     546 non-null    int64
 7   90s      546 non-null    float64
 8   Cmp      546 non-null    int64
 9   Att      546 non-null    int64
 10  Cmp%     543 non-null    float64
 11  TotDist  546 non-null    int64
 12  PrgDist  546 non-null    int64
 13  Cmp.1    546 non-null    int64
 14  Att.1    546 non-null    int64
 15  Cmp%.1   535 non-null    float64
 16  Cmp.2    546 non-null    int64
 17  Att.2    546 non-null    int64
 18  Cmp%.2   532 non-null    float64
 19  Cmp.3    546 non-null    int64
 20  Att.3    546 non-null    int64
 21  Cmp%.3   519 non-null    float64
 22  Ast      546 non-null    int64
 23  xA       546 non-null    float64
 24  A-xA     546 non-null    float64
 25  KP       546 non-null    int64
 26  03-Jan   546 non-null    int64
 27  PPA      546 non-null    int64
 28  CrsPA    546 non-null    int64
 29  Prog     546 non-null    int64
 30  Matches  546 non-null    object
dtypes: float64(7), int64(19), object(5)
memory usage: 132.4+ KB

In [22]:
df.isnull().values.any()

True

In [23]:
df.isnull().any()

Rk         False
Player     False
Nation     False
Pos        False
Squad      False
Age        False
Born       False
90s        False
Cmp        False
Att        False
Cmp%        True
TotDist    False
PrgDist    False
Cmp.1      False
Att.1      False
Cmp%.1      True
Cmp.2      False
Att.2      False
Cmp%.2      True
Cmp.3      False
Att.3      False
Cmp%.3      True
Ast        False
xA         False
A-xA       False
KP         False
03-Jan     False
PPA        False
CrsPA      False
Prog       False
Matches    False
dtype: bool

In [24]:
df = pd.read_csv('ShootingStat.csv',encoding='latin-1')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       546 non-null    int64
 1   Player   546 non-null    object
 2   Nation   546 non-null    object
 3   Pos      546 non-null    object
 4   Squad    546 non-null    object
 5   Age      546 non-null    int64
 6   Born     546 non-null    int64
 7   90s      546 non-null    float64
 8   Gls      546 non-null    int64
 9   Sh       546 non-null    int64
 10  SoT      546 non-null    int64
 11  SoT%     452 non-null    float64
 12  Sh/90    546 non-null    float64
 13  SoT/90   546 non-null    float64
 14  G/Sh     452 non-null    float64
 15  G/SoT    389 non-null    float64
 16  Dist     452 non-null    float64
 17  FK       546 non-null    int64
 18  PK       546 non-null    int64
 19  PKatt    546 non-null    int64
 20  xG       546 non-null    float64
 21  npxG     546 non-null    float64
 22  npxG/Sh  452 non-null    float64
 23  G-xG     546 non-null    float64
 24  np:G-xG  546 non-null    float64
 25  Matches  546 non-null    object
dtypes: float64(12), int64(9), object(5)
memory usage: 111.0+ KB

In [25]:
df.isnull().values.any()

True

In [26]:
df.isnull().any()

Rk         False
Player     False
Nation     False
Pos        False
Squad      False
Age        False
Born       False
90s        False
Gls        False
Sh         False
SoT        False
SoT%        True
Sh/90      False
SoT/90     False
G/Sh        True
G/SoT       True
Dist        True
FK         False
PK         False
PKatt      False
xG         False
npxG       False
npxG/Sh     True
G-xG       False
np:G-xG    False
Matches    False
dtype: bool

In [27]:
df = pd.read_csv('ShotCreationAction.csv',encoding='latin-1')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rk          546 non-null    int64
 1   Player      546 non-null    object
 2   Nation      546 non-null    object
 3   Pos         546 non-null    object
 4   Squad       546 non-null    object
 5   Age         546 non-null    int64
 6   Born        546 non-null    int64
 7   90s         546 non-null    float64
 8   SCA         546 non-null    int64
 9   SCA90       546 non-null    float64
 10  PassLive    546 non-null    int64
 11  PassDead    546 non-null    int64
 12  Drib        546 non-null    int64
 13  Sh          546 non-null    int64
 14  Fld         546 non-null    int64
 15  Def         546 non-null    int64
 16  GCA         546 non-null    int64
 17  GCA90       546 non-null    float64
 18  PassLive.1  546 non-null    int64
 19  PassDead.1  546 non-null    int64
 20  Drib.1      546 non-null    int64
 21  Sh.1        546 non-null    int64
 22  Fld.1       546 non-null    int64
 23  Def.1       546 non-null    int64
 24  Matches     546 non-null    object
dtypes: float64(3), int64(17), object(5)
memory usage: 106.8+ KB

In [28]:
df.isnull().values.any()

False